.product-of-the-day-section {
    border-top: 1px solid #F8F8F8;
    h2 {
        text-align: center;
        font-family: 'SFNSDisplay', Arial, sans-serif;
        font-size: 28px;
        font-weight: 500;
        margin: 50px 0;
    }
}

.products-otd-box {
    overflow: hidden;
    margin-bottom: 100px;
    .parent-primary,
    .parent-secondary {
        float: left;
    }
    a {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        text-decoration: none;
        font-family: 'SFNSDisplay', Arial, sans-serif;
        width: 100%;
        height: 100%;
        position: relative;
        .product-desc {
            position: absolute;
            padding: 20px;
            span {
                display: inline-block;
                width: 100%;
            }
            .product-name {
                font-size: 22px;
                margin-bottom: 20px;
            }
            .product-price {
                font-size: 16px;
            }
        }
    }
    .light-option {
        color: #000;
    }
    .parent-primary {
        .product-desc {
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

.product-desc-hover-effect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: all 0.3s;
    .product-name {
        font-size: 40px;
        width: 100%;
        margin-bottom: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #fff;
        padding: 0 10%;
        box-sizing: border-box;
        margin-top: -700px;
        transition: all 0.2s ease-out;
    }
    .product-price {
        font-size: 20px;
        width: 100%;
        color: #fff;
        padding: 0 40px;
        box-sizing: border-box;
    }
}

.parent-secondary {
    .product-desc-hover-effect {
        .product-name {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0;
        }
        .product-price {
            font-size: 13px;
            line-height: 18px;
        }
    }
}

.parent-primary {
    .product-desc-hover-effect {
        .product-name {
            line-height: 60px;
        }
    }
}

.parent-primary,
.parent-secondary {
    height: 100%;
    width: 100%;
    overflow: hidden;
    a {
        transition: transform 0.2s ease-in;
        -moz-transition: transform 0.2s ease-in;
        -ms-transition: transform 0.2s ease-in;
        -o-transition: transform 0.2s ease-in;
        -webkit-transition: transform 0.2s ease-in;
        .product-desc {
            transition: opacity 0.2s ease-in;
            -moz-transition: opacity 0.2s ease-in;
            -ms-transition: opacity 0.2s ease-in;
            -o-transition: opacity 0.2s ease-in;
            -webkit-transition: opacity 0.2s ease-in;
        }
        &:hover {
            transform: scale(1.2);
            .product-desc {
                opacity: 0;
            }
            .product-desc-hover-effect {
                opacity: 1;
            }
            .product-name {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .products-otd-box {
        .parent-primary {
            height: 190px;
        }
        .parent-secondary {
            height: 130px;
        }
    }
}

@media screen and (min-width: 451px) {
    .products-otd-box {
        .parent-primary {
            height: 270px;
        }
        .parent-secondary {
            height: 200px;
        }
    }
}

@media screen and (min-width: 600px) {
    .products-otd-box {
        .parent-primary {
            height: 270px;
        }
        .parent-secondary {
            height: 200px;
            width: 50%;
        }
    }
}

@media screen and (min-width: 700px) {
    .products-otd-box {
        .product-desc {
            padding: 20px 20px 50px;
        }
        .parent-primary {
            height: 400px;
        }
        .parent-secondary {
            height: 300px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .products-otd-box {
        height: 500px;
        .parent-primary {
            height: 100%;
            width: 65%;
            margin-right: 5%;
        }
        .parent-secondary {
            width: 30%;
            margin-bottom: 5%;
            height: 45%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .products-otd-box {
        padding: 0 90px;
        height: 604px;
        .parent-primary {
            width: 74.2%;
            margin-right: 1.8%;
        }
        .parent-secondary {
            width: 24%;
            margin-bottom: 1.8%;
            height: 48.6%;
        }
    }
}