.main-slider-section {
    position: relative;
}

.main-slider-slick {
    .slick-slide {
        &:nth-of-type(odd) {
            .dark-content {
                .show {
                    color: #000;
                    .half-border {
                        border-top-color: #000;
                        border-bottom-color: #000;
                        border-right-color: #000;
                    }
                    &:hover {
                        border: 1px solid #000;
                        color: #fff;
                        background-color: #000;
                        .half-border {
                            border-top-color: #000;
                            border-bottom-color: #000;
                            border-right-color: #000;
                        }
                    }
                }
            }
            .show {
                .half-border {
                    right: 0;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    border-right: 1px solid #fff;
                    border-left: 1px solid transparent;
                    border-radius: 0 40px 40px 0;
                }
                &:hover {
                    margin-top: -5px;
                    margin-left: -23px;
                    border: 1px solid #fff;
                    color: #000;
                    background-color: #fff;
                    .half-border {
                        border-top-color: #fff;
                        border-bottom-color: #fff;
                        border-right-color: #fff;
                    }
                }
            }
        }
        &:nth-of-type(even) {
            .dark-content {
                .show {
                    color: #000;
                    .half-border {
                        border-top-color: #000;
                        border-bottom-color: #000;
                        border-left-color: #000;
                    }
                    &:hover {
                        background-color: #000;
                        color: #fff;
                        border: 1px solid #000;
                        .half-border {
                            border-top-color: #000;
                            border-bottom-color: #000;
                            border-left-color: #000;
                        }
                    }
                }
            }
            .show {
                .half-border {
                    left: 0;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    border-left: 1px solid #fff;
                    border-right: 1px solid transparent;
                    border-radius: 40px 0 0 40px;
                }
                &:hover {
                    margin-top: 0;
                    margin-right: -23px;
                    bottom: 75px;
                    background-color: #fff;
                    color: #000;
                    border: 1px solid #fff;
                    .half-border {
                        border-top-color: #fff;
                        border-bottom-color: #fff;
                        border-left-color: #fff;
                    }
                }
            }
        }
        .show {
            background: transparent;
            border: 1px solid transparent;
            border-radius: 30px;
            padding: 10px 37px;
            color: #fff;
            font-family: 'SNFText', Arial, sans-serif;
            font-size: 16px;
            cursor: pointer;
            outline: none;
            position: relative;
            transition: all 0.3s;
            .half-border {
                position: absolute;
                top: -1px;
                display: inline-block;
                width: 50%;
                height: 100%;
            }
            &:hover {
                padding: 15px 60px;
                transition: all 0.3s;
            }
        }
    }
}

.main-slider-slick {
    .slide-content {
        display: block;
        position: relative;
        z-index: 2;
        color: #fff;
        height: 100%;
        box-sizing: border-box;
        h2 {
            font-family: 'SFNSDisplay', Arial, sans-serif;

            font-weight: normal;
        }
        .product-desc-box {
            font-family: 'SNFText', Arial, sans-serif;
            position: absolute;
            bottom: 80px;
            .cat {
                font-size: 12px;
                margin-bottom: 10px;
            }
            .name {
                font-size: 18px;
                margin-bottom: 25px;
            }
            .price {
                font-size: 12px;
            }
        }
    }
    .slide {
        position: relative;
        box-sizing: border-box;
    }
    .dark-content {
        .slide-content {
            color: #000;
        }
        .show {
            color: #000;
        }
    }
    .backlayer {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        z-index: 1;
    }
    .slick-slide {
        transition: all 0.3s;
    }
    .slick-slide:nth-of-type(even) {
        text-align: right;
        h2 {
            float: right;
        }
    }
}

.main-slider-nav {
    position: absolute;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 110px;
    .main-prev,
    .main-next {

        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #fff;
        display: block;
        border: 20px solid #fff;
        position: relative;
        overflow: hidden;
    }
    .main-prev {
        background-image: url("../images/icons/arrow-left.svg");

    }
    .main-next,
    .main-prev {
        background-color: #fff;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 2px;
            top: 2px;
            width: 66px;
            height: 66px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 14px;
        }
        &:hover:after {
            animation: border 0.4s ease 1 forwards;
            box-shadow: 35px -35px 0 0px #fff, -35px -35px 0 2px #fff, -35px 35px 0 2px #fff, 35px 35px 0 2px #fff, 0 0 0 2px #fff;
        }
    }
    .main-next {
        margin-bottom: 60px;
        &:after {
            background-image: url("../images/icons/arrow-right.svg");
        }
    }
    .main-prev {
        &:after {
            background-image: url("../images/icons/arrow-left.svg");
        }
    }
}

@media screen and (min-width: 601px) {
    .slick-slide:nth-of-type(even) {
        .slide {
            padding-left: 15px;
        }
        .backlayer {
            margin-left: 15px;
        }
    }
    .slick-slide:nth-of-type(odd) {
        .slide {
            padding-right: 15px;
        }
        .backlayer {
            margin-right: 15px;
        }
    }
}//min-width: 601px

@media screen and (min-width: 1001px) {
    .slide-content {
        padding: 80px 100px;
        h2 {
            font-size: 42px;
            width: 200px;
            margin: 0 0 130px;
        }
    }
    .main-slider-slick {
        .slide {
            height: 920px;
        }
    }
    .slick-slide:nth-of-type(even) {
        .product-desc-box {
            right: 100px;
            top: 80px;
            bottom: auto;
        }
        .show {
            position: absolute;
            bottom: 80px;
            right: 100px;
        }
        h2 {
            position: absolute;
            right: 100px;
            bottom: 130px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .main-slider-slick {
        .slide-content {
            padding: 20px 10px;
            h2 {
                font-size: 22px;
                width: 120px;
                margin: 0 0 30px;
            }
            .product-desc-box {
                bottom: 20px;
            }
        }
        .slide {
            height: 400px;
        }
    }

    .slick-slide:nth-of-type(even) {
        .product-desc-box {
            right: 10px;
            top: 20px;
            bottom: auto;
        }
        .show {
            position: absolute;
            bottom: 80px;
            right: 10px;
        }
        h2 {
            position: absolute;
            right: 10px;
            bottom: 130px;
        }
    }
}

@media screen and (max-width: 600px) {
    .main-slider-nav {
        width: 210px;
        flex-direction: row;
        align-items: flex-start;
        height: 80px;
        bottom: -37px;
        top: auto;
        .main-prev,
        .main-next {
            border: 5px solid #fff;
            margin: 0 10px;
        }
    }
}

@keyframes border {
    0% {
        box-shadow: 35px -35px 0 2px #fff, -35px -35px 0 2px #fff, -35px 35px 0 2px #fff, 35px 35px 0 2px #fff, 0 0 0 1px #fff;
    }
    25% {
        box-shadow: 0 -74px 0 2px #fff, -35px -35px 0 2px #fff, -35px 35px 0 2px #fff, 35px 35px 0 2px #fff, 0 0 0 1px #D46684;
    }
    50% {
        box-shadow: 0 -74px 0 2px #fff, -74px 0px 0 2px #fff, -35px 35px 0 2px #fff, 35px 35px 0 2px #fff, 0 0 0 1px #D46684;
    }
    75% {
        box-shadow: 0 -74px 0 2px #fff, -74px 0px 0 2px #fff, 0px 74px 0 2px #fff, 35px 35px 0 2px #fff, 0 0 0 1px #D46684;
    }
    100% {
        box-shadow: 0 -74px 0 2px #fff, -74px 0px 0 2px #fff, 0px 74px 0 2px #fff, 74px 20px 0 2px #fff, 0 0 0 1px #D46684;
    }
}