.featured-product-section {
    position: relative;
    .featured-slider-nav {
        position: absolute;
        width: 300px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -13px;
        display: flex;
        justify-content: center;
        .prev {
            margin-right: 200px;
        }
    }
    h2 {
        text-align: center;
        font-family: 'SFNSDisplay', Arial, sans-serif;
        font-size: 28px;
        font-weight: 500;
        margin: 50px 0;
    }
    a {
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }
    .slide-indexes {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li {
            float: left;
            a {
                text-decoration: none;
                font-size: 18px;
                font-family: 'SNFText', Arial, sans-serif;
                cursor: default;
                color: #000;
            }
            &:first-of-type,
            &:last-of-type {
                a {
                    color: #ccc;
                    cursor: pointer;
                    &:after {
                        content: '';
                        width: 60px;
                        height: 1px;
                        background: #ccc;
                        display: inline-block;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

.slide-indexes-box {
    margin: 35px 0 50px;
    overflow: hidden;
}

.featured-slider-nav {
    div {
        width: 40px;
        height: 40px;
        transition: all .3s;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: center;
        &:hover {
            opacity: 0.7;
        }
    }
    .prev {
        background-image: url(../images/icons/arrow-left.svg);
    }
    .next {
        background-image: url(../images/icons/arrow-right.svg);
    }
}

.tns-gallery {
    background: #fff;
}

.slick-dots {
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        margin: 10px;
    }
}

.featured-slider-slick {
    overflow: hidden;
    .slick-slide {
        a {
            text-decoration: none;
            font-family: 'SFNSDisplay', Arial, sans-serif;
            outline: none;
            position: relative;
            span {
                color: #fff;
                text-transform: uppercase;
                font-size: 28px;
                line-height: 35px;
                padding: 0 10px 0 40px;
                display: inline-block;
                position: absolute;
                bottom: 40px;
                left: 0;
                right: 0;
            }
        }

        .date {
            display: none;
            color: #fff;
            padding: 40px;
            font-family: 'SNFText', Arial, sans-serif;
            font-size: 16px;
        }
        .dark-text {
            span, .date {
                color: #000;
            }
        }
    }
    .slick-center {
        .date {
            display: block;
        }
    }
    &:before {
        content: '';
        height: 400px;
        width: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    &:after {
        content: '';
        height: 400px;
        width: 2px;
        background: #fff;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 1200px) {
    .featured-slider-slick {
        .slick-slide {
            a {
                span {
                    font-size: 20px;
                }
            }
        }
        &:after,
        &:before {
            height: 250px;
        }
        .slick-list {
            height: 250px;
        }
    }
    .slide-indexes li,
    .featured-slider-slick .slick-slide {
        width: 221px;
    }
    .slide-indexes li:nth-of-type(2),
    .featured-slider-slick .slick-center {
        width: calc(100vw - 512px);
        margin: 0 26px;
    }
    .featured-slider-slick {
        .slick-slide {
            & > div a {
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat;
                height: 250px;
            }
        }
    }
}//max-width: 1200px

@media screen and (max-width: 800px) {
    .featured-slider-slick {
        .slick-slide {
            a {
                span {
                    font-size: 12px;
                    padding: 0 10px;
                    bottom: 0;
                    line-height: 20px;
                }
                .date {
                    padding: 10px;
                }
            }
        }
        &:after,
        &:before {
            height: 250px;
        }
        .slick-list {
            height: 150px;
        }
    }
    .slide-indexes li,
    .featured-slider-slick .slick-slide {
        width: 121px;
    }
    .featured-slider-slick .slick-center {
        width: calc(100vw - 200px);
        margin: 0 26px;
    }
    .slide-indexes li:nth-of-type(2) {
        width: calc(100vw - 312px);
        margin: 0 26px;
    }
    .featured-slider-slick {
        .slick-slide {
            & > div a {
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat;
                height: 150px;
            }
        }
    }
}//max-width: 800px

@media screen and (max-width: 600px) {
    .featured-product-section {
        .featured-slider-nav {
            .prev {
                margin-right: 60px;
            }
        }
        .featured-slider-nav {
            width: 140px;
        }
        .slide-indexes li {
            width: 20%;
            &:first-of-type,
            &:last-of-type {
                a {
                    &:after {
                        width: 20px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .featured-slider-slick .slick-center {
        width: calc(100vw - 150px);
        margin: 0 5px;
    }
    .slide-indexes li:nth-of-type(2) {
        width: calc(60% - 10px);
        margin: 0 5px;
    }

}//max-width: 600px

@media screen and (min-width: 1201px) {
    .featured-product-section {
        padding: 0 90px;
        .slick-list {
            height: 400px;
        }
    }

    .slide-indexes li,
    .featured-slider-slick .slick-slide {
        width: 320px;
    }
    .slide-indexes li:nth-of-type(2),
    .featured-slider-slick .slick-center {
        width: calc(100vw - 890px);
        margin: 0 26px;
    }
    .featured-slider-slick {
        .slick-slide {
            & > div a {
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat;
                height: 400px;
            }
        }
    }

}//min-width: 1201px