//-----------------------------------
//   Fonts
//-----------------------------------

// HKConcentrate - Bold
@font-face {
	font-family: 'HKConcentrate';
	src: url('../fonts/HKConcentrate/Bold/HKConcentratePro-Bold.eot');
	src: url('../fonts/HKConcentrate/Bold/HKConcentratePro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HKConcentrate/Bold/HKConcentratePro-Bold.otf') format('otf'),
		url('../fonts/HKConcentrate/Bold/HKConcentratePro-Bold.woff') format('woff'),
		url('../fonts/HKConcentrate/Bold/HKConcentratePro-Bold.woff2') format('woff2'),
		url('../fonts/HKConcentrate/Bold/HKConcentratePro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

// SNFText - Regular
@font-face {
	font-family: 'SNFText';
	src: url('../fonts/SNFText/SFUIText-Regular.eot');
	src: url('../fonts/SNFText/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SNFText/SFUIText-Regular.woff') format('woff'),
		url('../fonts/SNFText/SFUIText-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

// SFNSDisplay - Regular
@font-face {
	font-family: 'SFNSDisplay';
	src: url('../fonts/SFNSDisplay/sfns_display.eot');
	src: url('../fonts/SFNSDisplay/sfns_display.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SFNSDisplay/sfns_display-webfont.woff') format('woff'),
		url('../fonts/SFNSDisplay/sfns_display-webfont.woff2') format('woff2'),
		url('../fonts/SFNSDisplay/sfns_display.svg') format('svg'),
		url('../fonts/SFNSDisplay/sfns_display.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}