.main-site-header {
    padding: 40px 90px;
    .header-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu {
        align-items: center;
        display: flex;
        flex-grow: 1;
    }
}

.logo-box {
    display: flex;
    align-items: center;
    margin-right: 20%;
    a {
        text-decoration: none;
        color: #000;
        h2 {
            margin: 0;
            font-family: "HKConcentrate", Arial, sans-serif;
        }
    }

}

.menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 550px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li {
            display: inline-block;
            margin: 10px;
        }
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        font-family: 'SNFText', Arial, sans-serif;
        border-bottom: 1px solid transparent;
        transition: all 0.3s;
        &:hover {
            border-bottom: 1px solid #000;
        }
    }
}

.user-interface-box {
    a {
        margin: 0 10px;
        display: inline-block;
        transition: all 0.3s;
        &:hover {
            opacity: 0.5;
        }
    }

    .i-cart {
        margin-right: 0;
        margin-left: 60px;
    }
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/*
* Spin
*/
.hamburger--spin {
    .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top 0.1s 0.25s ease-in,
            opacity 0.1s ease-in;
        }

        &::after {
            transition: bottom 0.1s 0.25s ease-in,
            transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

    &.is-active {
        .hamburger-inner {
            transform: rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out,
                opacity 0.1s 0.12s ease-out;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.1s ease-out,
                transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .main-site-header {
        padding: 40px 10px;
        .header-inner {
            display: block;
        }
        .menu {
            display: block;
        }
        ul {
            width: 100%;
            max-width: 100%;
        }
        .hamburger {
            position: absolute;
            right: 0;
            top: -43px;
        }
    }
    .user-interface-box {
        text-align: right;
        margin-top: 30px;
        margin-right: 17px;
    }
}

@media screen and (max-width: 1200px) {
    .main-site-header {
        padding: 40px 10px;
    }
    .logo-box {
        margin-right: 5%;
        margin-left: 15px;
    }
}

@media screen and (min-width: 801px) {
    .hamburger {
        display: none;
    }
    .user-interface-box {
        display: flex;
        align-items: center;
    }
    .modal__container {
        min-width: 800px;
    }
}