.main-site-footer {
    background: #fafafa;
    padding-bottom: 50px;
    padding-top: 20px;
    h3 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 120px;
        a {
            text-decoration: none;
            color: #999;
            transition: all 0.3s;
            border-bottom: 1px solid transparent;
            font-size: 12px;
            line-height: 22px;
            &:hover {
                border-bottom: 1px solid #999;
            }
        }
    }
    .footer-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .footer-nav {
        margin-right: 100px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    .main-site-footer {
        .footer-nav {
            margin-right: 40px;
        }
    }
}
