body {
    //font-family: "muller", Arial, sans-serif;
    font-family: "SNFText", Arial, sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.modal {
    .modal__overlay {
        z-index: 1001;
    }
}

@media screen and (max-width: 1151px) {
    .container {
        padding: 0 10px;
    }
}